#survey-main {
    font-family:tahoma,"Times New Roman",serif;
}

#survey-main h2 {
    color:#fff;
}

#survey-ask,
#survey-results {
    height: 250px;
    width: 50%;
    padding: 10px;
    background-color: #4C8AF5;
    border-radius: 10px;
    color: #fff;
}

.clear {
    clear: both;
}

#survey-ask li {
    background-color: #fff;
    border-radius:5px;
    padding:5px;
    margin:5px;
}
#survey-ask li a {
    text-decoration: none;
}
#survey-ask li.selected {
    background-color: green;
}
#survey-ask li.selected a {
    color:#fff;
}

#survey-results li {
    height:20px;
    background-color: #fff;
    border-radius:5px;
    padding:5px;
    margin:5px;
}
#survey-results li > div {
    height: 20px;
    max-width: 80%;
    float: left;
}

#survey-results li > div.survey-label {
    width: 20%;
    color:#000;
}
#survey-results li > div.survey-count {
    padding:0 0 0 0;
    text-align:center;
    background-color: #000;
}